<section class="fixed-navbar">
  <nav id="navbar">
    <a href="/galery">
      <picture>
        <h3>Gal</h3>
        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
    <a href="/add-place">
      <picture>
        {{!-- <img src="" alt=""> --}}
        <h3>Add</h3>
      </picture>
    </a>
    <a href="/places">
      <picture>
      <h3>Map</h3>

        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
  </nav>
</section>

<div class="form-block">

 <form id="add-place" action="/edit/{{this._id}}" method="POST" enctype="multipart/form-data">
    <h2>EDIT CITY PIC</h2>
    <input id="place-name" style="visibility:hidden" type="text" name="name" value="{{this.name}}"/>
    <input id="lat-edit" style="visibility:hidden" type="text" name="latitude" value="{{this.location.coordinates.[1]}}"/>
    <input id="lng-edit" style="visibility:hidden" type="text" name="longitude" value="{{this.location.coordinates.[0]}}"/>
    <input id="rotate-input" style="visibility:hidden" type="text" name="rotate" value="{{this.picture.rotate}}"/>
  
    <label for="photo-edit" class='photo-label'>
      <input class="input-photo" id="photo-edit" type="file"  name='photo'/>
    </label>
    <div id="change-text">Change Pic</div>

    <span id="photo-name-edit"></span>
    <button type="button" id="rotate-button">Rotate</button>
    <picture class="photo-pic">
      <div id="picture-edit"  class="{{this.picture.rotate}}">
        <img id="pic-image" class="pic-image-edit" src={{this.picture.path}} alt={{this.name}}></img>
      </div>
    </picture>

    <button id="delete-btn"><a id="delete-link" href="/delete/{{this._id}}">DELETE CITI PIC</a></button>
    <h2>CITY</h2>
    <h2 id="name-edit">{{this.name}}</h2>
    <label id="search-block" for="search-place">
      <input type="text" id="search-place" placeholder="Change city"/>
    <button id="search-address-btn" type="button" onclick="codePlace()">Search place</button>
    </label>
    <h2 id="place-question">Choose your location?</h2>
    <div class="suggestion-list" id="suggestion-list-edit"></div>
    <button id="submit-edit-place" type="submit">SAVE</button>
  </form>

  
  

</div>


<script src="../javascripts/edit-form.js"></script>

