

{{!-- <a href="/places">MAP PLACES</a> --}}
<section class="fixed-navbar">
  <nav id="navbar">
    <a href="/feed">
      <picture>
        <h3>Feed</h3>
        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
    <a href="/add-place">
      <picture>
        {{!-- <img src="" alt=""> --}}
        <h3>Add</h3>
      </picture>
    </a>
    <a href="/places">
      <picture>
      <h3>Map</h3>

        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
  </nav>
</section>
<section id="photo-galery">
    {{#each user.myplaces}}
        
            <picture name="{{this.name}}" class="photo-pic">
              <a href="/edit/{{this._id}}">
                <div class={{this.picture.rotate}}>
                  <img class="pic-image" src={{this.picture.path}} alt="{{this.name}}">
                </div>
              </a>
            </picture>
        
    {{/each}} 
</section>